<p>
  <button input type="btn" (click)="tohome()"><strong>Go back to home</strong></button>
</p>
<ul>
  <li *ngFor="let goal of goals">
    {{ goal }}
  </li>
</ul>

 <ul class = "list-group">
<li>{{teams[0]}}</li>
<li>{{teams[1]}}</li>
<li>{{teams[2]}}</li>
<li>{{teams[3]}}</li>
</ul> 
<button type="button" class="btn btn-primary" (click)="SwitchTeams()" name="button" [disabled] = 'alreadyswitching'>Start Switching</button>
<button type="button" class="btn btn-danger" (click)="StopSwitchTeams()" name="button" [disabled]='stopSwitchStatus'>Stop Switching</button>


