<form [formGroup]="productAddForm" (ngSubmit)="addProduct()">
  <div class="row form-group">
      <div class="col-md-3">
          <label>Name: </label>
        </div>
    <div class="col-md-5">
      <input type="text" class="form-control" formControlName="name" placeholder="Name" />
    </div>
  </div>

  <div class="row form-group">
      <div class="col-md-3">
          <label>Color: </label>
        </div>
    <div class="col-md-5">
      <input type="text" class="form-control" formControlName="color" placeholder="Color" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
        <label>price: </label>
      </div>
  <div class="col-md-5">
    <input type="text" class="form-control" formControlName="price" placeholder="paise" />
  </div>
</div>

  <button class="btn btn-primary" type="submit">Add Item</button>
  <button class="btn btn-default btn-white" type="cancel" (click)= "cancelAdd()">Cancel</button>

</form>